<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body class="bg-gray-50 min-h-screen">
    <header>
      <% include partials/_nav %>
    </header>
    <main class="max-w-7xl mx-auto p-4">
      <% include partials/_alerts %>
      <%- body %>
    </main>
  </body>
</html>
